body{
	background-image: url('../images/book_formula.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:black;
}
.cp a{
    color:black;
	font-size: x-large;
}
.ad-2{
	color:black;
}
.ad-3{
	color:black;
}
.ad-4 a{
	color:black;
}
