body{
	background-image: url('../images/feedback.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:black;
}
.p-1 a
{
    color:black;
	font-size: x-large;
}
.p-2{
	color:black;
}
.p-3{
	color:black;
}
.p-4 a{
	color:black;
}
