body{
	font-size:48px;
	background-image:url('../../Documents/Web_Page/images/FV.jpg');
	color:white;
}
.ad-1 a{
	font-size:18px;
	color:white;
}
.ad-2{
	font-size: 18px;
}
.ad-3{
	font-size:18px;
}
.ad-4{
	color:whitesmoke;
}