body{
	background-image: url('../Web_Page/images/books-formula-charts-school-wallpaper-preview.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:black;
}
.ad-1 a{
    color:black;
	font-size: x-large;
}
.ad-2{
	color:black;
}
.ad-3{
	color:black;
}
.ad-4 a{
	color:black;
}
