body{
	background-image: url('../Web_Page/images/pexels-photo-2846814.jpeg');
	background-repeat: no-repeat;
	background-size:cover;
	color:white;
	font-size: x-large;
}
.cp a{
    color:white;
	font-size: x-large;
}
.red-1{
	color:white;
}
.red-2{
	color:white;
}
.red-3{
	color:white;
}

