.cp a {
	color:orange;
	font-weight: none;
	font-size: 18px;
	color:white;
 }
.red-1{
	color:white;
	text-decoration: bold;
}
.red-2{
	color:white;

}
.red-3{
	color:white;
}
body{
	background-image:url('../Web_Page/images/Books.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:white;
	font-size:16px;
	font-family: san-serif;
}
.red-4{
	color:white;
	text-decoration:none;
}
.red-5{
	color:white;
}
.red-6{
	color:white;
}
.red-7{
	color:white;
}
.red-8{
	color:white;
}
.red-9{
	color:white;
}
