body{
	background-image: url('../Web_Page/images/various-art-book-books.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:white;
	font-size: x-large;
}
.co-1 a{
	color:white;
}
.co-2{
	color:white;
}
.co-3{
	color:white;
}
.co-4{
	color:white;
}
.co-5{
	color:white;
}