body{
	background-image: url(papers.jpg);
}
.co-1 a{
	color:white;
}
.co-2{
	color:white;
	font-size: 28px;
}
.co-3{
	color:white;
}
.co-0{
	color:white;
	font-size: 42px;
}
.co-4{
	color:white;
}
.co-5{
	color:black;
}