body{
	background:coral;
	background-image: url(FV.jpg);
	color:white;	
	font-size:48px;
}
.box a
{ text-align: center;
	font-size:18px;
	color:white;
	float: center;

}
.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
