body{
	background-image: url('../Web_Page/images/Library-Books-Reading-Free-Wallpapers-Download-For-Desktop.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:white;
}
.box a
{
    color:white;
	font-size:x-large;
}

  
  * {
	box-sizing: border-box;
  }
  
  .bg-img a{
	/* The image used */
	background-image: url("img_nature.jpg");
  
	/* Control the height of the image */
	min-height: 380px;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
  /* Add styles to the form container */
  .container {
	position: absolute;
	right: 0;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: black;
  }
  
  /* Full-width input fields */
	input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background:black;
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background-color:white;
	outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
  }
  .btn:hover {
	opacity: 1;
  }
  
.lib {
	text-align: left;
	color: white;

  }