body{
	background:coral;
	background-image: url(FV.jpg);
	color:white;	
}
.box-1 a{
	font-size:16px;
	color:white;
	line height: 0.5em;
	text-align: left;
}
.box-2{
font-size:16px;
color:white; 
}
.box-3{
	font-size:16px;
}
.box-4{
	font-size:16px;

}
.box-5{
	font-size:16px;
}
.box-6{
	font-size:16px;
}
.box-7{
	font-size:16px;
}
.box-8{
	font-size:16px;
}
.box-9 button a{
	font-size:14px;
	color:black;
}
.box-10 button a{
	font-size:14px;
	color:black;
}
.box-0{
	font-size:20px;
}
.box-11 button a{
	font-size:14px;
}



}