.lo-1 a{
	color:black;
	text-align: left;
}
body{
	background-image: url('../Web_Page/images/st.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:black;

}
.lo-2{
	color:black;
	font-size: 34px;
}