body{
	background-image: url('../Web_Page/images/books-formula-charts-school-wallpaper-preview.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:black;
}
.box a{
    color:black;
	font-size: x-large;
}