body{
	background-image: url('../Web_Page/images/Library-Books-Reading-Free-Wallpapers-Download-For-Desktop.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	color:white;
}
.cp a{
    color:white;
	font-size: x-large;
}
.bo-0{
	color:white;
}
.bo-2{
	color:white;
}
.bo-3{
	color:white;
}
.bo-4{
	color:white;
}
.bo-5{
	color:white;
}
.bo-6{
	color:white;
}
.bo-7{
	color:white;
}
.bo-8{
	color:white;	
}
.bo-9 a{
	color:black;
}
