.bo-1 a{
	color:white;
}
body{
	background-image: url(Y.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	color:white;
}
.bo-0{
	color:white;
}
.bo-2{
	color:white;
}
.bo-3{
	color:white;
}
.bo-4{
	color:white;
}
.bo-5{
	color:white;
}
.bo-6{
	color:white;
}
.bo-7{
	color:white;
}
.bo-8{
	color:white;
}
.bo-9 a{
	color:black;
}
.bo-10 a{
	color:black;
}
