h1{
	color:green;
}
body{
	font-family: Arial;
	font-size:16px;
	font-weight:normal;
	line-height:1.6em;
	background:coral;
}
.container{
	width:960px;
	margin:auto;
}
.box-1{
	background-color:#333;
	color:white;
	border: 2

	px red solid;
}

